@media screen and (max-width: 1919px) and (min-width: 1280px){
  .account_studentsec_content_rightpart {
    height: auto;
  }

.account_studentsec_content_leftpart {
  height: unset;
}

.account_studentsec_content_rightpart_main_leftpart {
  max-height: unset;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  max-height: unset;
}









/*--------------------!!!СТРАНИЦА РАСПИСАНИЕ!!!-----------------*/

.account_studentsec_content_rightpart_maininfo {
  column-gap: 20px;
}

.account_studentsec_content_schedulepage {
  column-gap: 20px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons {
  max-width: 40vw;
  padding-right: 24px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart {
  
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_header_dates p {
  font-size: 1.25rem;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item {
  min-width: 28px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider {
  display: none;
}



.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive{
  display: flex !important;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart{
  display: none;
}

.account_studentsec_content_rightpart_maininfo_leftpart {
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.account_studentsec_content_rightpart_maininfo_leftpart p {
  margin-bottom: 24px;
}

.account_studentsec_content_rightpart_maininfo_leftpart h3 {
  
}

.account_studentsec_content_rightpart_maininfo {
  column-gap: 24px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart h3:nth-child(1) {
  font-size: 1.5rem;
  line-height: 124%;
}

.account_studentsec_content_rightpart_maininfo_rightpart {
  background: none;
}

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(2) {
  background: #FFFFFF;
  padding: 24px;
  border-radius: 24px;
  margin-top: 24px;
}

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) {
  background: #FFFFFF;
  padding: 24px;
  border-radius: 24px;
  margin-top: 24px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive {
    flex-direction: column;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive > div:nth-child(1) > h3:nth-child(1) {
  border-bottom: none;
  padding-bottom: 0;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item p {
  margin: 0px;
  margin-bottom: 10px !important;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item > div:nth-child(3) {
  margin-top: 0;
}


.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item{
  display: none;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item:nth-child(1){
  display: flex !important;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item:nth-child(2){
  display: flex !important;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item:nth-child(3){
  display: flex !important;
}





/*--------------------!!!СТРАНИЦА ЧАТ!!!-----------------*/



.chatsec_leftpart_item > p:nth-child(2) > b:nth-child(1) {
  display: none;
}

.chatsec {
  grid-template-columns: 1.34fr 2fr;
  column-gap: 24px;
}

.chatsec_leftpart {
  padding: 16px;
}

.chatsec_rightpart {
  padding: 16px;
}

.chatsec_leftpart_item:nth-child(2) {
  margin-top: 16px;
}

.chatsec_rightpart_item{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.chatsec_content_leftpart {
  max-width: 188px;
}

.account_studentsec_content {
  column-gap: 24px;
}

.chatsec_rightpart_main {
  grid-row-gap: 10px;
}

.form_chatsec {
  margin-top: 14px;
}

  .chatsec_rightpart_main_message_container > p:nth-child(2) {
    max-width: 340px;
}





}




@media screen and (max-width: 1279px) and (min-width: 320px){

.bar {
  display: flex;
  transition: 0.2s;
}

  .popup {
      position: fixed;
      top: 0px;
      right: -100%;
      width: 62.5vw;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.6s;
      background: #FFFFFF;
      border-radius: 15px 0px 0px 15px;
  }

.popup.open {
  right: 0;
  display: block;
  z-index: 1000;
  max-height: 619px;
}

.popup {
  right: -110%;
}

.close_popup{
  cursor: pointer;
  margin-left: 16px;
}

.close_popup > img:nth-child(1) {
  width: 24px;
}

.popup_content{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup_navlist_item{
  font-family: "Montserrat-400";
  font-size: 1.063rem;
  text-decoration: none;
  line-height: 43px;
  color: #6AAFE0;
  display: flex;
  column-gap: 24px;
  align-items: center;
  margin-bottom: 25px;
  
}

.popup_navlist_item:hover{
  border-right: 4px solid #2473B2;
  animation: aniop 0.5s ease-in;
  color: #2473B2;
}

.header_content-wrap-navmenu-list-popup > ul > li{
  list-style-type: none;
}

.popup_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.popup_navlist_item {
padding-top: 4px;
padding-bottom: 4px;
}

.popup.open > body{
  background: red;
}






/*--------------------!!!СТРАНИЦА ЛОГИН!!!-----------------*/  
  .firstsec_loginpage_content {
    flex-direction: column;
  }


  .firstsec_loginpage_content_rightpart_links {
    justify-content: center;
  }

  .firstsec_loginpage_content_rightpart {
    margin-top: 30px;
  }


/*--------------------!!!СТРАНИЦА ВХОД СТУДЕНТ!!!-----------------*/ 

.firstsec_loginpage_student_content {
  height: auto;
  flex-direction: column;
  padding-top: 100px;
}

.firstsec_loginpage_student_content_rightpart {
  padding-left: 40px;
  padding-right: 20px;
}

.firstsec_loginpage_student_content_rightpart_header {
  width: 100%;
  max-width: 716px;
  margin: 0 auto;
  margin-top: 30px;
}


/*--------------------!!!СТРАНИЦА ВОССТАНОВЛЕНИЕ ПАРОЛЯ!!!-----------------*/ 


.firstsec_loginpage_student_content_rightpart_form p {
text-align: center;
}










/*--------------------!!!СТРАНИЦА РЕГИСТРАЦИЯ!!!-----------------*/ 

.firstsec_regpage_student_content {
  height: auto;
  flex-direction: column;
  padding-top: 100px;
}

.firstsec_regpage_student_content_rightpart {
  margin-top: 30px;
}

.firstsec_regpage_student_content_rightpart_form_inputs input {
  max-width: unset;
  width: auto;
}

.firstsec_regpage_student_content_rightpart {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec_regpage_student_content_rightpart_form {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec_regpage_student_content_rightpart_header > a:nth-child(1) {
  position: absolute;
  left: 20px;
}





/*--------------------!!!СТРАНИЦА АККАУНТ СТУДЕНТ!!!-----------------*/

.account_studentsec_content_rightpart_main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.account_studentsec_content_rightpart_main_leftpart_form > form:nth-child(1) > button:nth-child(9) {
  margin-bottom: 28px;
}

.account_studentsec_content_rightpart {
  height: auto;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  order: 1;
}

.account_studentsec_content_rightpart_main_rightpart_downpart {
  order: 2;
}

.account_studentsec_content_rightpart_main_leftpart {
  order: 3;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  max-height: unset;
}

.account_studentsec_content_rightpart_main_leftpart {
  max-height: unset;
}


.firstsec_exitpage_content_rightpart_uppart h3 {
  font-size: 1.75rem;
}

.firstsec_exitpage_content_rightpart_uppart_account > p:nth-child(2) {
  display: none;
}

.account_bell {
  text-decoration: none;
  margin-right: 8px;
}

.account_burger {
  background: transparent;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

.account_burgerandbell {
  display: flex;
  align-items: center;
}

.account_studentsec_content_rightpart_main_leftpart_form_item h3 {
  font-size: 1.25rem;
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  row-gap: 16px;
}

.account_studentsec_content_rightpart_main {
    row-gap: 20px;
  }

.account_burgerandbell{
  display: flex;
  align-items: center;
}



.account_studentsec_content_rightpart_main_leftpart_header {
  flex-direction: column;
  row-gap: 16px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item {
  flex-direction: column;
  row-gap: 10px;
}


.account_studentsec_content_rightpart_main_leftpart_form_item {
align-items: baseline;
}

.account_studentsec {
  padding-left: 30px;
}

/*--------------------!!!СТРАНИЦА РАСПИСАНИЕ!!!-----------------*/



.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item > div:nth-child(1) > h3{
   font-family: "Montserrat-500";
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 20px;
  color: #000000;
}


.account_studentsec_content_rightpart_maininfo_rightpart {
  height: auto;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_ball {
  position: absolute;
  right: 14px;
  top: 12px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item {
  padding: 12px;
  padding-top: 12px;
  padding-bottom: 11px;
  position: relative;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item:nth-child(1) {
  position: relative;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item > div:nth-child(1) > p:nth-child(2) {
  line-height: 24px;
  max-width: 200px;
  display: flex;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item {
  padding-top: 12px;
  padding-bottom: 11px;
}

.account_studentsec_content_rightpart_maininfo {
  display: flex;
}

.account_studentsec_content {
  column-gap: 24px;
}

.account_studentsec_content_leftpart {
  max-width: 188px;
}

.account_studentsec_content_rightpart_maininfo_leftpart {
  max-width: 606px;
}

  .account_studentsec_content_rightpart_maininfo {
    flex-direction: column;
  }
  .account_studentsec_content_leftpart {
    display: none;
  }
  .account_studentsec_content_schedulepage {
    padding-left: 24px;
    padding-right: 24px;
  }
  .account_studentsec_content_rightpart_maininfo_leftpart {
    max-width: unset;
  }

.account_studentsec_schedulepage {
  padding-right: 0;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_header_dates a {
  margin-left: 70px;
}

  .account_studentsec_content_schedulepage {
    padding-left: 0;
    padding-right: 0;
  }

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider {
  padding: 16px;
  width: calc(100vw - 72px);
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item{
  margin-right: 10px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider h3:nth-child(1){
   font-family: "Montserrat-500";
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
  border-bottom: 0px;
  margin-bottom: 16px;
}

  .account_studentsec_schedulepage {
    padding-right: 20px;
    padding-left: 20px;
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider {
    width: calc(100vw - 88px);
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage {
    max-width: 300px;
    width: 100%;
  }


  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage {
    height: 102px !important;
  }
  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item > div:nth-child(1) > p:nth-child(2) {
    line-height: 21px;
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage p {
    margin-bottom: 0px;
  }

.account_studentsec_content_rightpart_maininfo_leftpart h3 {
  padding-bottom: 1px;
}

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) > h3:nth-child(1) {
  padding-bottom: 10px;
}

.account_studentsec_content_rightpart_maininfo_leftpart p {
  margin-top: 12px;
}

  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage p {
    margin-top: 0;
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider h3:nth-child(1) {
    margin-bottom: 12px;
  }

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage > div:nth-child(1) > p:nth-child(3) {
  max-width: 80%;
  margin-top: 8px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_ball {
  font-size: 0.75rem;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart {
  display: none;
}

  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage {
    overflow-y: scroll;
  }
  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item > div:nth-child(1) > h3 {
    max-width: 82%;
  }

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) {
width: calc(100vw - 88px);
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive {
width: calc(100vw - 88px);
display: block !important;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item {
  min-width: unset;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider {
  display: block;
}


.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
margin-top: 0px;
}

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) > p:nth-child(3) {
  margin-bottom: 16px;
  margin-top: 16px;
}
















.account_studentsec_content_rightpart_maininfo_leftpart {
   display: unset; 
  padding: 0;
  border-radius: 0; 
  background: unset;
}

  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
    background: #FFFFFF;
  }
  .account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
    background: #FFFFFF;
  }

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider {
  margin-top: 20px;
}

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) {
  margin-top: 20px;
}


.account_studentsec_content_rightpart_maininfo_rightpart {
  display: none;
}





















/*--------------------!!!СТРАНИЦА ЧАТ!!!-----------------*/



.chatsec_leftpart_item > p:nth-child(2) > b:nth-child(1) {
  display: none;
}

.chatsec {
  grid-template-columns: 1.34fr 2fr;
  column-gap: 24px;
}

.chatsec_leftpart {
  padding: 16px;
}

.chatsec_rightpart {
  padding: 16px;
}

.chatsec_leftpart_item:nth-child(2) {
  margin-top: 16px;
}

.chatsec_rightpart_item{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.chatsec_content_leftpart {
  max-width: 188px;
}

.account_studentsec_content {
  column-gap: 24px;
}

.chatsec_rightpart_main {
  grid-row-gap: 10px;
}

.form_chatsec {
  margin-top: 14px;
}

  .chatsec_rightpart_main_message_container > p:nth-child(2) {
    max-width: 340px;
}

.chatsec {
padding-left: 20px;
padding-right: 20px;
}

.chatsec_rightpart_header {
  padding-bottom: 0;
}

.chatsec_rightpart_item {
  font-size: 1.063rem;
}

.chatsec_leftpart_item {
  margin-top: 12px;
}

.chatsec_leftpart {
}

  .chatsec_rightpart_item {
    padding-bottom: 4px;
  }

.chatsec_rightpart_header_rightpart > a:nth-child(1) > p:nth-child(1) {
  display: none;
}







}





































@media screen and (max-width: 768px) and (min-width: 320px){


.popup {
  width: 100vw;
  border-radius: 0px;
  height: 100%;
  max-height: unset !important;
}











/*--------------------!!!СТРАНИЦА ЛОГИН!!!-----------------*/  
  
.firstsec_loginpage_content_leftpart > a > img{
  max-width: 118px;
}

.firstsec_loginpage_content_rightpart h3{
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.firstsec_loginpage_content_rightpart a{
  font-family: "Montserrat-500";
  font-size: 0.938rem;
  text-decoration: none;
  line-height: 18px;
  color: #0A3761;
  margin-bottom: 30px;
  text-align: center;
  max-width: 150px;
  padding-top: 11px;
  padding-bottom: 11px;
}








/*--------------------!!!СТРАНИЦА ВХОД СТУДЕНТ!!!-----------------*/ 


.firstsec_loginpage_student_content_rightpart_form {
  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-top: 30px;
}

.firstsec_loginpage_student_content_rightpart_form input {
  width: calc(100vw - 80px);
}

  .firstsec_loginpage_student_content_rightpart {
    padding-left: 0;
    padding-right: 0;
  }

.firstsec_loginpage_student_content_leftpart > a:nth-child(1) > img:nth-child(1) {
  max-width: 118px;
}

.firstsec_loginpage {
  padding-left: 20px;
  padding-right: 20px;
}


.firstsec_loginpage_student_content_rightpart_header h3 {
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  max-width: 286px;
}

.firstsec_loginpage_student_content_rightpart_header {
  justify-content: center;
}




.firstsec_regpage_student_content_rightpart_form {
  padding-left: 0px;
  padding-right: 0px;
}

.firstsec_regpage_student_content_rightpart_form_inputs {
  display: flex;
  flex-direction: column;
}

.firstsec_regpage_student_content_rightpart_header h3 {
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  line-height: 28px;
}

.firstsec_regpage_student_content_rightpart_form_inputs input {
  padding-top: 9px;
  padding-bottom: 9px;
}

  .firstsec_regpage_student_content_rightpart_form {
    width: calc(100vw - 40px);
  }

  .firstsec_regpage_student_content_rightpart_header > a:nth-child(1) {
    top: 3px;
  }

.firstsec_regpage_student_content_leftpart > a:nth-child(1) > img:nth-child(1) {
  max-width: 118px;
}







/*--------------------!!!СТРАНИЦА АККАУНТ СТУДЕНТ!!!-----------------*/

.account_studentsec_content_leftpart {
  display: none;
}

.account_studentsec {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.firstsec_exitpage_content_rightpart_uppart h3 {
  font-size: 1.75rem;
}

.account_burgerandbell{
  display: flex;
  align-items: center;
}

.account_bell{
  text-decoration: none;
  margin-right: 8px;
}

.account_burger {
  cursor: pointer;
  border: 0px;
  background: transparent;
  padding: 0px;
}

.firstsec_exitpage_content_rightpart_uppart_account > p:nth-child(2) {
  display: none;
}

.firstsec_exitpage_content_rightpart_uppart_account {
  column-gap: 8px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart {
  display: none;
}

  .account_studentsec_content_rightpart_main {
    row-gap: 20px;
  }

.account_studentsec_content_rightpart_main_leftpart_header a {
  font-size: 0.938rem;
  line-height: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item h3 {
  font-size: 1.063rem;
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_leftpart_form form {
  row-gap: 12px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item input {
  font-size: 0.938rem;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item p {
  padding-left: 10px;
  padding-right: 10px;
}

.account_studentsec_content_rightpart_main_leftpart_form form > button {
  font-size: font-size: 0.938rem;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: unset;
  width: 100%;
  font-size: 0.938rem;
}


  .firstsec_exitpage_content_rightpart_uppart h3 {
    font-size: 0.938rem;
  }

  .account_studentsec_content_rightpart_main_rightpart_uppart {
    width: calc(100vw - 64px);
  }

.firstsec_exitpage_content_rightpart_uppart h3 {
  line-height: 15px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  padding: 12px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart_rating_item_leftpart {
  max-width: 53vw;
}

.account_studentsec_content_rightpart_main_rightpart_uppart_rating_item_leftpart h4 {
  font-size: 1.063rem;
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart h3 {
  font-size: 1.25rem;
  font-family: "Montserrat-500";
  font-size: 1.5rem;
  line-height: 20px;
  color: #000000;
}

.account_studentsec_content_rightpart_main_rightpart_uppart_rating_item_leftpart b {
  font-size: 0.938rem;
}

  .account_studentsec_content_rightpart_main_rightpart_uppart {
    width: calc(100vw - 64px);
  }

.firstsec_exitpage_content_rightpart_uppart {
  padding-left: 12px;
  padding-right: 12px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item input {
  max-width: unset;
}

.account_studentsec_content_rightpart_main_leftpart {
  display: flex;
  flex-direction: column;
}

  .account_studentsec_content_rightpart_main_leftpart_form_item {
    width: calc(100vw - 100px);
  }

.account_studentsec_content_rightpart_main_leftpart_form_item input {
  max-width: unset;
}



/*--------------------!!!СТРАНИЦА УВЕДОМЛЕНИЯ!!!-----------------*/  

.wrapper_noticepage{
  display: block !important;
  height: 100vh;
}

.noticesec{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.noticesec_nav {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.noticesec_nav h3{
  font-family: "Montserrat-500";
  font-size: 1.75rem;
  color: #000000;
}

.noticesec_exitpage_content_rightpart_uppart{
  padding-top: 8px;
  padding-bottom: 8px;
}

.noticesec_content_rightpart_main_rightpart_downpart{
  display: block;
}

.account_studentsec_content{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart h3 {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.account_studentsec_content_rightpart_main_rightpart_downpart_item h4 {
  font-size: 1.063rem;
  margin-top: 16px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart_item p {
  font-size: 0.938rem;
}

.account_studentsec_content_rightpart_main_rightpart_downpart_item {
  row-gap: 8px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart_item {
  padding-bottom: 10px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart {
  padding: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart h3 {
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart_item h4 {
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart_item p {
  line-height: 15px;
}




/*--------------------!!!СТРАНИЦА ВЫХОД!!!-----------------*/ 

.firstsec_exitpage_content_rightpart_downpart_container h3 {
  font-size: 1.5rem;
}

.firstsec_exitpage_content_rightpart_downpart_container_links a {
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 240px;
}

.firstsec_exitpage_content_rightpart_downpart_container_links {
  column-gap: 10px;
}

.firstsec_exitpage_content_rightpart_downpart_container_links {
  margin-left: 20px;
  margin-right: 20px;
}

.firstsec_exitpage_content_rightpart_downpart_container > h3:nth-child(1) {
  margin-left: 20px;
  margin-right: 20px;
}










  .firstsec_exitpage_content_rightpart_uppart h3 {
    font-size: 1.75rem;
  }

  .account_studentsec_content_rightpart_maininfo {
    flex-direction: column;
  }

  .account_studentsec_content_rightpart_maininfo_leftpart {
    max-width: unset;
  }



 /*--------------------!!!СТРАНИЦА РАСПИСАНИЕ!!!-----------------*/  

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item {
  max-width: 100%;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_header h3 {
  font-size: 1.063rem;
  line-height: normal;
  font-family: "Montserrat-500";
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_header_dates p {
  font-size: 0.938rem;
  font-family: "Montserrat-500";
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week {
  overflow-x: hidden;
}

.account_studentsec_content_rightpart_maininfo_leftpart h3 {
  font-size: 1.063rem;
  text-decoration: none;
  color: #1F2223;
  line-height: normal;
  font-family: "Montserrat-500";
}

  .firstsec_exitpage_content_rightpart_uppart h3 {
    font-size: 0.938rem;
  }
  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_header_dates a {
    margin-left: 0;
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive_slider h3:nth-child(1) {
    font-size: 1.063rem;
    text-decoration: none;
    color: #1F2223;
    line-height: normal;
    font-family: "Montserrat-500";
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item > div:nth-child(1) > h3 {
    font-size: 0.938rem;
  }

  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive {
    margin-left: 20px;
    margin-right: 20px;
  }
  .account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(2) {
    width: calc(100vw - 47px);
  }
  .account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) {
    width: calc(100vw - 47px);
  }

  .account_studentsec {
    padding-left: 0;
    padding-right: 0;
  }

  .firstsec_exitpage_content_rightpart_uppart {
    margin-left: 20px;
    margin-right: 20px;
  }

  .account_studentsec_content_rightpart_maininfo_leftpart_images a{
    margin-right: 10px;
  }

  .account_studentsec_content_rightpart_maininfo_leftpart_images_completestatus {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    font-size: 1.063rem;
    text-decoration: none;
    line-height: normal;
    font-family: "Montserrat-500";
  }

.account_studentsec_content_rightpart_maininfo_leftpart_images_completestatus b {
  font-size: 1.063rem;
  text-decoration: none;
  color: #1F2223;
  line-height: normal;
  font-family: "Montserrat-500";
}

.account_studentsec_content_rightpart_maininfo_leftpart_images_completestatus {
  font-size: 0.938rem !important;
}

.account_studentsec_content_rightpart_maininfo_leftpart_form {
  flex-direction: column;
  row-gap: 12px;
}

.account_studentsec_content_rightpart_maininfo_leftpart_form_button {
  max-width: unset;
  padding-top: 12px;
  padding-bottom: 12px;
}

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) > p:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.account_studentsec_content_rightpart_maininfo_leftpart p {
  font-size: 0.938rem;
  align-items: flex-start;
}

.account_studentsec_content_rightpart_maininfo_leftpart b {
  font-size: 1.063rem;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage > a:nth-child(2) > p:nth-child(2) {
  background: #49B2AF;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .account_studentsec_content_rightpart_maininfo_leftpart p {
    margin-bottom: 16px;
  }

.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) > p:nth-child(3) {
  margin-bottom: 16px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item {
  width: 100%;
}

  .account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item {
    text-align: center;
  }

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > p:nth-child(2) {
  text-align: center;
  justify-content: center;
}


.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
margin-bottom: 0;
}


.account_studentsec_content_rightpart_maininfo_leftpart > div:nth-child(3) > p:nth-child(3) {
margin-top: 0;
}




.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage > div:nth-child(2) > p{
  margin-bottom: 0px;
}


.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage > div:nth-child(1) > p:nth-child(3){
  margin-bottom: 0px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage > div:nth-child(1) > p:nth-child(2) {
  margin-bottom: 0px;
}






/*--------------------!!!СТРАНИЦА ЧАТ!!!-----------------*/  

.chatsec_rightpart {
  display: none;
}

  .chatsec_leftpart {
    width: 100%;
  }
  .chatsec {
    display: flex;
    margin-top: 20px;
  }

.chatsec_leftpart_item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.75rem;
  line-height: 16px;
}

  .chatsec_leftpart_item > p:nth-child(2) > b:nth-child(1) {
    display: block;
  }

  .chatsec_leftpart {
    padding: 12px;
  }

.chatsec_leftpart_item > img:nth-child(1) {
  width: 32px;
}

.chatsec_leftpart_item > p:nth-child(2) {
  display: flex;
  column-gap: 4px;
}

.chatsec_leftpart {
  display: none;
}

.account_studentsec_content_rightpart_maininfo_leftpart_form_input {
  font-size: 0.938rem;
}

.chatsec_button {
  right: 5px;
}

.input-file-btn_chat {
  right: 5px;
}

.chatsec_rightpart_main_container > button:nth-child(2) {
  right: 63px;
}

.chatsec_rightpart {
  height: 412px;
   display: flex;
}

  .chatsec_rightpart_item {
    font-size: 0.938rem;
    white-space: nowrap;
  }

.chatsec_rightpart_item > img {
  width: 32px;
}

.chatsec_rightpart_main_message_container> img:nth-child(1) {
  display: none;
}

.chatsec_rightpart_item {
  column-gap: 4px;
}

.chatsec_rightpart_main_message p {
  font-size: 0.938rem;
}

  .chatsec {
    padding-left: 0;
    padding-right: 0;
  }




.firstsec_exitpage_content_rightpart_uppart_chatpage > a:nth-child(1) {
display: flex;
align-items: center;
text-decoration: none;
column-gap: 3px;
}

.wrapper_localchat{
  display: flex!important;
}


  .chatsec_rightpart {
    width: 100%;
    max-width: unset;
  }
  .chatsec {
    width: 100%;
    max-width: unset;
  }
  .account_studentsec {
    width: 100%;
    max-width: unset;
  }

.account_studentsec_content_rightpart {
  width: 100%;
  max-width: unset;
}

.account_studentsec_content {
  width: 100%;
  max-width: unset;
}









}





@media screen and (max-width: 576px) and (min-width: 320px){

 /*--------------------!!!СТРАНИЦА УВЕДОМЛЕНИЯ!!!-----------------*/  
  .noticesec_nav h3 {
    font-size: 0.938rem;
    line-height: 18px;
  }

  .noticesec {
    margin-left: 0px; 
    margin-right: 0px; 
  }

  .noticesec_exitpage_content_rightpart_uppart {
    margin-left: 20px;
    margin-right: 20px;
  }

 /*--------------------!!!СТРАНИЦА РАСПИСАНИЕ!!!-----------------*/  

.account_studentsec_content_rightpart_maininfo_rightpart_downpart_listlessons_item_schedulepage {
  width: auto;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_adaptive > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.account_studentsec_content_rightpart_maininfo_rightpart_uppart_week_item {
width: 50px;
}



}