@media screen and (max-width: 1279px) and (min-width: 320px){
/*--------------------!!!СТРАНИЦА ЛОГИН!!!-----------------*/  
  .firstsec_loginpage_content {
    flex-direction: column;
  }


  .firstsec_loginpage_content_rightpart_links {
    justify-content: center;
  }

  .firstsec_loginpage_content_rightpart {
    margin-top: 30px;
  }


/*--------------------!!!СТРАНИЦА ВХОД СТУДЕНТ!!!-----------------*/ 

.firstsec_loginpage_student_content {
  height: auto;
  flex-direction: column;
  padding-top: 100px;
}

.firstsec_loginpage_student_content_rightpart {
  padding-left: 40px;
  padding-right: 20px;
}

.firstsec_loginpage_student_content_rightpart_header {
  width: 100%;
  max-width: 716px;
  margin: 0 auto;
  margin-top: 30px;
}


/*--------------------!!!СТРАНИЦА ВОССТАНОВЛЕНИЕ ПАРОЛЯ!!!-----------------*/ 


.firstsec_loginpage_student_content_rightpart_form p {
text-align: center;
}










/*--------------------!!!СТРАНИЦА РЕГИСТРАЦИЯ!!!-----------------*/ 

.firstsec_regpage_student_content {
  height: auto;
  flex-direction: column;
  padding-top: 100px;
}

.firstsec_regpage_student_content_rightpart {
  margin-top: 30px;
}

.firstsec_regpage_student_content_rightpart_form_inputs input {
  max-width: unset;
  width: auto;
}

.firstsec_regpage_student_content_rightpart {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec_regpage_student_content_rightpart_form {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec_regpage_student_content_rightpart_header > a:nth-child(1) {
  position: absolute;
  left: 20px;
}











}


@media screen and (max-width: 767px) and (min-width: 320px){
/*--------------------!!!СТРАНИЦА ЛОГИН!!!-----------------*/  
  
.firstsec_loginpage_content_leftpart > a > img{
  max-width: 118px;
}

.firstsec_loginpage_content_rightpart h3{
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.firstsec_loginpage_content_rightpart a{
  font-family: "Montserrat-500";
  font-size: 0.938rem;
  text-decoration: none;
  line-height: 18px;
  color: #0A3761;
  margin-bottom: 30px;
  text-align: center;
  max-width: 150px;
  padding-top: 11px;
  padding-bottom: 11px;
}








/*--------------------!!!СТРАНИЦА ВХОД СТУДЕНТ!!!-----------------*/ 


.firstsec_loginpage_student_content_rightpart_form {
  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-top: 30px;
}

.firstsec_loginpage_student_content_rightpart_form input {
  width: calc(100vw - 80px);
}

  .firstsec_loginpage_student_content_rightpart {
    padding-left: 0;
    padding-right: 0;
  }

.firstsec_loginpage_student_content_leftpart > a:nth-child(1) > img:nth-child(1) {
  max-width: 118px;
}

.firstsec_loginpage {
  padding-left: 20px;
  padding-right: 20px;
}


.firstsec_loginpage_student_content_rightpart_header h3 {
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  max-width: 286px;
}

.firstsec_loginpage_student_content_rightpart_header {
  justify-content: center;
}




.firstsec_regpage_student_content_rightpart_form {
  padding-left: 0px;
  padding-right: 0px;
}

.firstsec_regpage_student_content_rightpart_form_inputs {
  display: flex;
  flex-direction: column;
}

.firstsec_regpage_student_content_rightpart_header h3 {
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  line-height: 28px;
}

.firstsec_regpage_student_content_rightpart_form_inputs input {
  padding-top: 9px;
  padding-bottom: 9px;
}

  .firstsec_regpage_student_content_rightpart_form {
    width: calc(100vw - 40px);
  }

  .firstsec_regpage_student_content_rightpart_header > a:nth-child(1) {
    top: 3px;
  }

.firstsec_regpage_student_content_leftpart > a:nth-child(1) > img:nth-child(1) {
  max-width: 118px;
}




}