@media screen and (max-width: 1919px) and (min-width: 1281px){
  .account_studentsec_content_rightpart {
    height: auto;
  }

.account_studentsec_content_leftpart {
  height: unset;
}

.account_studentsec_content_rightpart_main_leftpart {
  max-height: unset;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  max-height: unset;
}









}




@media screen and (max-width: 1280px) and (min-width: 320px){
/*--------------------!!!СТРАНИЦА ЛОГИН!!!-----------------*/  
  .firstsec_loginpage_content {
    flex-direction: column;
  }


  .firstsec_loginpage_content_rightpart_links {
    justify-content: center;
  }

  .firstsec_loginpage_content_rightpart {
    margin-top: 30px;
  }


/*--------------------!!!СТРАНИЦА ВХОД СТУДЕНТ!!!-----------------*/ 

.firstsec_loginpage_student_content {
  height: auto;
  flex-direction: column;
  padding-top: 100px;
}

.firstsec_loginpage_student_content_rightpart {
  padding-left: 40px;
  padding-right: 20px;
}

.firstsec_loginpage_student_content_rightpart_header {
  width: 100%;
  max-width: 716px;
  margin: 0 auto;
  margin-top: 30px;
}


/*--------------------!!!СТРАНИЦА ВОССТАНОВЛЕНИЕ ПАРОЛЯ!!!-----------------*/ 


.firstsec_loginpage_student_content_rightpart_form p {
text-align: center;
}










/*--------------------!!!СТРАНИЦА РЕГИСТРАЦИЯ!!!-----------------*/ 

.firstsec_regpage_student_content {
  height: auto;
  flex-direction: column;
  padding-top: 100px;
}

.firstsec_regpage_student_content_rightpart {
  margin-top: 30px;
}

.firstsec_regpage_student_content_rightpart_form_inputs input {
  max-width: unset;
  width: auto;
}

.firstsec_regpage_student_content_rightpart {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec_regpage_student_content_rightpart_form {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec_regpage_student_content_rightpart_header > a:nth-child(1) {
  position: absolute;
  left: 20px;
}





/*--------------------!!!СТРАНИЦА АККАУНТ СТУДЕНТ!!!-----------------*/

.account_studentsec_content_rightpart_main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.account_studentsec_content_rightpart_main_leftpart_form > form:nth-child(1) > button:nth-child(9) {
  margin-bottom: 28px;
}

.account_studentsec_content_rightpart {
  height: auto;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  order: 1;
}

.account_studentsec_content_rightpart_main_rightpart_downpart {
  order: 2;
}

.account_studentsec_content_rightpart_main_leftpart {
  order: 3;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  max-height: unset;
}

.account_studentsec_content_rightpart_main_leftpart {
  max-height: unset;
}


.firstsec_exitpage_content_rightpart_uppart h3 {
  font-size: 1.75rem;
}

.firstsec_exitpage_content_rightpart_uppart_account > p:nth-child(2) {
  display: none;
}

.account_bell {
  text-decoration: none;
  margin-right: 8px;
}

.account_burger {
  background: transparent;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

.account_burgerandbell {
  display: flex;
  align-items: center;
}

.account_studentsec_content_rightpart_main_leftpart_form_item h3 {
  font-size: 1.25rem;
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  row-gap: 16px;
}

.account_studentsec_content_rightpart_main {
    row-gap: 20px;
  }

.account_burgerandbell{
  display: flex;
  align-items: center;
}



.account_studentsec_content_rightpart_main_leftpart_header {
  flex-direction: column;
  row-gap: 16px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item {
  flex-direction: column;
  row-gap: 10px;
}


.account_studentsec_content_rightpart_main_leftpart_form_item {
align-items: baseline;
}











}


@media screen and (max-width: 768px) and (min-width: 320px){
/*--------------------!!!СТРАНИЦА ЛОГИН!!!-----------------*/  
  
.firstsec_loginpage_content_leftpart > a > img{
  max-width: 118px;
}

.firstsec_loginpage_content_rightpart h3{
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.firstsec_loginpage_content_rightpart a{
  font-family: "Montserrat-500";
  font-size: 0.938rem;
  text-decoration: none;
  line-height: 18px;
  color: #0A3761;
  margin-bottom: 30px;
  text-align: center;
  max-width: 150px;
  padding-top: 11px;
  padding-bottom: 11px;
}








/*--------------------!!!СТРАНИЦА ВХОД СТУДЕНТ!!!-----------------*/ 


.firstsec_loginpage_student_content_rightpart_form {
  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-top: 30px;
}

.firstsec_loginpage_student_content_rightpart_form input {
  width: calc(100vw - 80px);
}

  .firstsec_loginpage_student_content_rightpart {
    padding-left: 0;
    padding-right: 0;
  }

.firstsec_loginpage_student_content_leftpart > a:nth-child(1) > img:nth-child(1) {
  max-width: 118px;
}

.firstsec_loginpage {
  padding-left: 20px;
  padding-right: 20px;
}


.firstsec_loginpage_student_content_rightpart_header h3 {
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  max-width: 286px;
}

.firstsec_loginpage_student_content_rightpart_header {
  justify-content: center;
}




.firstsec_regpage_student_content_rightpart_form {
  padding-left: 0px;
  padding-right: 0px;
}

.firstsec_regpage_student_content_rightpart_form_inputs {
  display: flex;
  flex-direction: column;
}

.firstsec_regpage_student_content_rightpart_header h3 {
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  line-height: 28px;
}

.firstsec_regpage_student_content_rightpart_form_inputs input {
  padding-top: 9px;
  padding-bottom: 9px;
}

  .firstsec_regpage_student_content_rightpart_form {
    width: calc(100vw - 40px);
  }

  .firstsec_regpage_student_content_rightpart_header > a:nth-child(1) {
    top: 3px;
  }

.firstsec_regpage_student_content_leftpart > a:nth-child(1) > img:nth-child(1) {
  max-width: 118px;
}







/*--------------------!!!СТРАНИЦА АККАУНТ СТУДЕНТ!!!-----------------*/

.account_studentsec_content_leftpart {
  display: none;
}

.account_studentsec {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.firstsec_exitpage_content_rightpart_uppart h3 {
  font-size: 1.75rem;
}

.account_burgerandbell{
  display: flex;
  align-items: center;
}

.account_bell{
  text-decoration: none;
  margin-right: 8px;
}

.account_burger {
  cursor: pointer;
  border: 0px;
  background: transparent;
  padding: 0px;
}

.firstsec_exitpage_content_rightpart_uppart_account > p:nth-child(2) {
  display: none;
}

.firstsec_exitpage_content_rightpart_uppart_account {
  column-gap: 8px;
}

.account_studentsec_content_rightpart_main_rightpart_downpart {
  display: none;
}

  .account_studentsec_content_rightpart_main {
    row-gap: 20px;
  }

.account_studentsec_content_rightpart_main_leftpart_header a {
  font-size: 0.938rem;
  line-height: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item h3 {
  font-size: 1.063rem;
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_leftpart_form form {
  row-gap: 12px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item input {
  font-size: 0.938rem;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item p {
  padding-left: 10px;
  padding-right: 10px;
}

.account_studentsec_content_rightpart_main_leftpart_form form > button {
  font-size: font-size: 0.938rem;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: unset;
  width: 100%;
  font-size: 0.938rem;
}


  .firstsec_exitpage_content_rightpart_uppart h3 {
    font-size: 0.938rem;
  }

  .account_studentsec_content_rightpart_main_rightpart_uppart {
    width: calc(100vw - 64px);
  }

.firstsec_exitpage_content_rightpart_uppart h3 {
  line-height: 15px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart {
  padding: 12px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart_rating_item_leftpart {
  max-width: 53vw;
}

.account_studentsec_content_rightpart_main_rightpart_uppart_rating_item_leftpart h4 {
  font-size: 1.063rem;
  line-height: 20px;
}

.account_studentsec_content_rightpart_main_rightpart_uppart h3 {
  font-size: 1.25rem;
  font-family: "Montserrat-500";
  font-size: 1.5rem;
  line-height: 20px;
  color: #000000;
}

.account_studentsec_content_rightpart_main_rightpart_uppart_rating_item_leftpart b {
  font-size: 0.938rem;
}

  .account_studentsec_content_rightpart_main_rightpart_uppart {
    width: calc(100vw - 64px);
  }

.firstsec_exitpage_content_rightpart_uppart {
  padding-left: 12px;
  padding-right: 12px;
}

.account_studentsec_content_rightpart_main_leftpart_form_item input {
  max-width: unset;
}

.account_studentsec_content_rightpart_main_leftpart {
  display: flex;
  flex-direction: column;
}

  .account_studentsec_content_rightpart_main_leftpart_form_item {
    width: calc(100vw - 100px);
  }

.account_studentsec_content_rightpart_main_leftpart_form_item input {
  max-width: unset;

  max-height: max-height: 535px;
}

















}